body{
    background-color: #066e6e41;
}

#title, .subtitle, .post_title{
    color: rgb(2, 9, 41);
}

.post_title{
    font-size: 12px;
    font-style: italic;
;
}

.post{
    background-color: rgba(24, 5, 29, 0.664);
    padding: 10px;
    border: 5px solid black;
}
